@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header,
.hero {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.header ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    list-style-type: none;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    font-weight: 800;
}

img {
    height: auto;
    width: 500px;
}

.hero {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

.hero p {
    color: #e5e7eb;
}

.hero button {
    background-color: #3882f6;
    border: none;
    height: 40px;
    width: 130px;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 110px 0;
}

.container {
    display: flex;
    gap: 50px;
}

.blue-box-container {
    width: 170px;
    text-align: center;
}

.section-one h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 50px;
}

.blue-box {
    height: 170px;
    width: 170px;
    border: 5px solid #3882f6;
    border-radius: 30px;
}