@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header,
.hero {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.header ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    list-style-type: none;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    font-weight: 800;
}

img{
    height: auto;
    width: 500px;
}

.hero{
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero h1{
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero p{
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}
.hero button{
    background-color: #3882f6;
    border: none;
    height: 40px;
    width: 130px;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
}